<h1>Statistics</h1>

    <table>
        <thead>
            <tr>
                <th>Civility</th>
                <th>Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Women</td>
                <td><?= $stats['women']; ?></td>
            </tr>
            <tr>
                <td>Men</td>
                <td><?= $stats['men']; ?></td>
            </tr>
            <tr>
                <td>Non-binary</td>
                <td><?= $stats['nonbinary']; ?></td>
            </tr>
        </tbody>
    </table>